{% extends 'base_content.html' %}
{% load static %}

{% block head %}


<!-- CSS only -->
  {% comment %} <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  
    <!-- JavaScript Bundle with Popper --> {% endcomment %}
  <!--<link rel="stylesheet" href="{% static 'css/playing.css' %}">
  <script src="/static/js/composing.js"></script>-->

  <link rel="stylesheet" href="{% static 'css/composing.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <script>

    $(document).ready(function(){
      //console.log(window.location.pathname);
      if(window.location.pathname == '/composing/'){
        let complete = document.getElementById('complete');
        let nextlevel = document.getElementById('nextlevel');
        let mymargin = document.getElementById('mymargin');
        complete.style.display = 'none';
        nextlevel.style.display = 'none';
        mymargin.style.height = '450px';
      }

      if(window.location.pathname.includes(`/composing/`)){
        $("#start").css("background-color", "#80D4D6"); //작곡시작
        $("#result").css("background-color", "#F69165"); //작곡 결과보기
        $("#mypage").css("background-color", "#80D4D6"); //결과보기
  
        $("#start").hover(function(){
          $(this).css("background-color", "#6DB2B4");
        }, function(){
          $(this).css("background-color", "#80D4D6");
        })
  
        $("#result").hover(function(){
          $(this).css("background-color", "#E26D3A");
        }, function(){
          $(this).css("background-color", "#F69165");
        })

        $("#mypage").hover(function(){
          $(this).css("background-color", "#6DB2B4");
        }, function(){
          $(this).css("background-color", "#80D4D6");
        })
      }

      if(window.location.pathname == '/post2'){
        let savebutton = document.getElementById("savebutton");
        savebutton.disabled = true;

        let mypage = document.getElementById("mypage");
        mypage.disabled = false;

        $("#start").css("background-color", "#80D4D6"); //작곡시작
        $("#result").css("background-color", "#F69165"); //작곡 결과보기
        $("#mypage").css("background-color", "#80D4D6"); //결과보기
  
        $("#start").hover(function(){
          $(this).css("background-color", "#6DB2B4");
        }, function(){
          $(this).css("background-color", "#80D4D6");
        })
  
        $("#result").hover(function(){
          $(this).css("background-color", "#E26D3A");
        }, function(){
          $(this).css("background-color", "#F69165");
        })

        $("#mypage").hover(function(){
          $(this).css("background-color", "#6DB2B4");
        }, function(){
          $(this).css("background-color", "#80D4D6");
        })
        

        $("#result").click(function(){
          $("#savebutton").css("background-color", "#80D4D6");
          $("#mypage").css("background-color", "#F69165");

          $("#savebutton").hover(function(){
            $(this).css("background-color", "#6DB2B4");
          }, function(){
            $(this).css("background-color", "#80D4D6");
          })

          $("#mypage").hover(function(){
            $(this).css("background-color", "#E26D3A");
          }, function(){
            $(this).css("background-color", "#F69165");
          })
        })

        
      }
    });

    function makeSong(){

      let loading = document.getElementById('loading');
      loading.style.display = 'block';

      let complete = document.getElementById('complete');
      complete.style.display = 'none';

      let mymargin = document.getElementById('mymargin');
      mymargin.style.height = '400px';
      // 그림에서 선택한 단어에 대한 7가지 키워드 분류값 가져옴
      const keyword_fillter2 = {
        "산" : "nature",
        "바람" : "nature",
        "둥근 해" : "nature",
        "호수" : "nature",
        "바다" : "nature",
        "하늘" : "nature",
        "구름" : "nature",
        "별" : "nature",
        "달" : "nature",
        "길" : "nature",
        "시냇물" : "nature",
        "눈" : "nature",
        "빛" : "nature",
        "빗방울" : "nature",
        "물" : "nature",
        "새" : "animal",
        "다람쥐" : "animal",
        "원숭이" : "animal",
        "나비" : "animal",
        "잠자리" : "animal",
        "강아지" : "animal",
        "개구리" : "animal",
        "물고기" : "animal",
        "곰" : "animal",
        "루돌프" : "animal",
        "부엉" : "animal",
        "토끼" : "animal",
        "송아지" : "animal",
        "돼지" : "animal",
        "여우" : "animal",
        "고기" : "animal",
        "코끼리" : "animal",
        "기린" : "animal",
        "벌레" : "animal",
        "나귀" : "animal",
        "고양이" : "animal",
        "윙윙" : "animal",
        "집" : "family",
        "창가" : "family",
        "얼굴" : "family",
        "엄마" : "family",
        "아빠" : "family",
        "오빠" : "family",
        "할아버지" : "family",
        "아저씨" : "family",
        "아기" : "family",
        "밥" : "family",
        "손" : "family",
        "눈" : "family",
        "발" : "family",
        "코" : "family",
        "팔" : "family",
        "무릎" : "family",
        "몸" : "family",
        "고향" : "family",
        "집" : "family",
        "윗니" : "family",
        "노래" : "friendship",
        "학교" : "friendship",
        "친구" : "friendship",
        "동네" : "friendship",
        "생일" : "friendship",
        "솜사탕" : "friendship",
        "시소" : "friendship",
        "선생님" : "friendship",
        "구슬" : "friendship",
        "북" : "friendship",
        "웃음" : "love",
        "아이스크림" : "love",
        "사랑" : "love",
        "눈사람" : "love",
        "텔레비전" : "love",
        "무지개" : "love",
        "꽃" : "plant",
        "나무" : "plant",
        "토마토" : "plant",
        "콩" : "plant",
        "도라지" : "plant",
        "앞뜰" : "plant",
        "보리" : "plant",
        "사과" : "plant",
        "씨앗" : "plant",
        "풀" : "plant",
        "곡식" : "plant",
        "잎" : "plant",
        "연" : "etc",
        "모자" : "etc",
        "마법" : "etc",
        "기차" : "etc",
        "자동차" : "etc",
        "비행기" : "etc",
        "도깨비" : "etc",
        "빤스" : "etc",
        "쪽배" : "etc",
        "새신" : "etc",
        "시계" : "etc",
        "둘리" : "etc",
        "인디언" : "etc",
        "태극기" : "etc",
        "바구니" : "etc",
        "과자" : "etc",
        "쟁반" : "etc",
        "등대" : "etc",
        "리본" : "etc",

      }


      word = localStorage.getItem('myword');

      keyword =  keyword_fillter2[word];

      //window.location.replace('http://127.0.0.1:8000/composing/' + keyword)
      // ec2 배포 url
      window.location.replace(keyword);

      return false;
    }


    {% comment %} window.onload = function (event) {
      word = localStorage.getItem('myword');
      document.getElementById('chosen_keyword').innerText = word;
    } {% endcomment %}

    window.addEventListener('DOMContentLoaded', function(){
      word = localStorage.getItem('myword');
      document.getElementById('chosen_keyword').innerText = word;
    });

    function lookResult(){
      //const start = document.getElementById('start');
      //start.style.display = 'none';

      let mymargin = document.getElementById('mymargin');
      mymargin.style.height = '50px';

      const control = document.getElementById('midi-control');
      control.style.display = 'block';

      $("#result").css("background-color", "#80D4D6");
      $("#savebutton").css("background-color", "#F69165");

      $("#result").hover(function(){
        $(this).css("background-color", "#6DB2B4");
      }, function(){
        $(this).css("background-color", "#80D4D6");
      })

      $("#savebutton").hover(function(){
        $(this).css("background-color", "#E26D3A");
      }, function(){
        $(this).css("background-color", "#F69165");
      })

      return false;
    }

  </script>

{% endblock head %}

{% block content %}
<div class="composing">
  <h1>🎨그림을 바탕으로 자신만의 동요🎶를 만들어보세요!</h1><br>
  <div class="composing-content">
  <form class="my-form" method="POST" action="{% url 'main_page:post2' %}">
    {% csrf_token %}

    <div class="hidden">
      <div class="question">
        <img src="{% static 'img/smile.png' %}" />
        <div>
          <p id="waitLyricTitle">"현재 선택되어 있는 키워드는 <span id="chosen_keyword" style="color:#80D4D6;font-weight:bold;"></span> 입니다"</p>
        </div>
      </div>
      <div class="answer">
        <button type="button" onclick="return makeSong();" class="btn btn-primary makelyricButton" id="start">작곡시작</button><br>
      </div>
    </div>

    <div class="hidden" id="loading" style="display:none">
      <div class="question">
        <img src="{% static 'img/smile.png' %}" />
        <div>
          <p id="waitLyricTitle">"작곡이 진행 중입니다."</p>
        </div>
      </div>
      <div class="answer">
        <i class="fa fa-spinner fa-spin"></i>
      </div>
    </div>

    <div class="hidden" id="complete" style="display:block">
      <div class="question">
        <img src="{% static 'img/smile.png' %}" />
        <div>
          <p id="waitLyricTitle">"작곡이 완료되었습니다"</p>
        </div>
      </div>
      <div class="answer">
        <i style="display:none" class="fa fa-spinner fa-spin"></i>
        <button type="button" onclick="return lookResult();" class="btn btn-primary makelyricButton" id="result">작곡 결과 보기</button><br>
        <textarea class="form-control" placeholder="작곡 루트가 출력됩니다." id="floatingTextarea2" name="content" id="content" style="display:none">{{midi}}</textarea><br>
        <!-- 악보 출력 -->
        <div class="controls" id="midi-control" style="display: none;">
          <section id="section1">
            <h2>1 player, 2 visualizers</h2>
            <midi-visualizer
              type="piano-roll"
              src="{% static midi %}">
            </midi-visualizer>
            <midi-visualizer
              type="staff"
              src="{% static midi %}">
            </midi-visualizer>
            <midi-player
              src="{% static midi %}"
              sound-font visualizer="#section1 midi-visualizer">
            </midi-player>
          </section>
          <!-- 저장 버튼 -->
          <button type="submit" id="savebutton" style="margin-top:15px" class="btn btn-secondary makelyricButton">저장하기</button>
        </div>
      </div>
    </div>

    <div class="hidden" id="nextlevel" style="display:block">
      <div class="question">
        <img src="{% static 'img/smile.png' %}" />
        <div>
          <p id="waitLyricTitle">"완성된 작품을 감상해보세요!"</p>
        </div>
      </div>
      <div class="answer">
        <i style="display:none" class="fa fa-spinner fa-spin"></i>
        <button type="button" id="mypage" disabled="disabled" class="btn btn-secondary makelyricButton" onclick="location.href='/result'">결과보기</button>  
      </div>
    </div>

    {% comment %} <div class="mb-3">
      <button type="button" onclick="return makeSong();" class="btn btn-primary" id="start">작곡시작</button><br>
      <button type="button" onclick="return lookResult();" class="btn btn-primary" id="result">작곡 결과 보기</button><br>
      <textarea class="form-control" placeholder="작곡 루트가 출력됩니다." id="floatingTextarea2" name="content" id="content" style="display:none">{{midi}}</textarea><br>
      <button type="submit" class="btn btn-secondary">저장하기</button>
      <button type="button" class="btn btn-secondary" onclick="location.href='/result'">결과보기</button>
    </div> {% endcomment %}
  </form>

  
  <!--<h1>{{ midi }}</h1>-->

  {% comment %} <div class="col-sm-12">
    {% if messages %}
    <div class="messages">
      {% for message in messages %}
      <div class="alert alert-info">
        {{ message.message }}
        {{ message.tags }}
      </div>
      {% endfor %}
    </div>
    {% endif %}

    {% block content %}
    {% endblock content %}

    <hr /> {% endcomment %}
  </div>

  <div id="mymargin" style="display:hidden; height:200px"></div>
  </div>

  <script src="https://cdn.jsdelivr.net/combine/npm/tone@14.7.58,npm/@magenta/music@1.23.1/es6/core.js,npm/focus-visible@5,npm/html-midi-player@1.4.0"></script>

  <script>

  </script>
</div>
{% endblock content %}