{% extends 'base_content.html' %}
{% load static %}

{% block head %}
<script src="https://cdn.jsdelivr.net/npm/p5@1.4.1/lib/p5.min.js"></script>
<script src="https://unpkg.com/ml5@latest/dist/ml5.min.js"></script>
<script src="/static/js/sketch.js"></script>
<link rel="stylesheet" href="{% static 'css/drawing.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- html2canvas -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="http://html2canvas.hertzen.com/dist/html2canvas.js"></script>

<script>
    let word = "";
    function fnRadioName(event) {
        const radioId = event.target.id;
        const query = 'label[for="' + radioId + '"]';
        const text = document.querySelector(query).innerText;
        //console.log(text);
        word = text;
    }

    function handOverWord() {
        localStorage.setItem('myword', word);
        //window.location.replace('http://127.0.0.1:8000/playing');
        // ec2 배포 url
        window.location.replace('playing');
        return false;
    }

    // html2canvas를 이용한 canvas 스샷
    function saveImage(){
        html2canvas($('#defaultCanvas0').get(0)).then(function(canvas){
            var data = canvas.toDataURL();
            
            // ajax 통신
            $.ajax({
                type: 'POST',
                url: 'canvasToImage',
                data: {data:data},
                success: function(result){
                    var filename = result['filename'];
                },
                error: function(e){ alert("에러발생");}
            });
        });
 
    }   
</script>

{% endblock head %}
 
    
{% block content %}

<div class="drawing" style="background:#EEEFF4">
    <!-- p5로 제작한 sketch js -->
    <h1>🎨자유롭게 그림을 그려주세요!</h1><br>

    <!-- 캔버스 위치 지정 -->
    <div id="sketch-holder"></div>
    <div id="sketch-button">
        <button id="clearBtn">🗑️</button>    
    </div>   
    {% comment %} <div>
        <p><span id="label"></span> (<span id="confidence"></span>%)</p>
    </div> {% endcomment %}

    <div class="drawing-content">
        <div>
            <div class="question">
                <img src="{% static 'img/smile.png' %}" />
                <p>"무엇을 그리셨나요? (동요를 만들기 원하는 단어를 선택해주세요!)"</p>
            </div>
            <div class="checkbox">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" onclick="fnRadioName(event);"
                        id="radio1">
                    <label class="form-check-label" for="radio1" id="label1">
                        <i class="fa fa-spinner fa-spin"></i>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" onclick="fnRadioName(event);"
                        id="radio2">
                    <label class="form-check-label" for="radio2" id="label2">
                        <i class="fa fa-spinner fa-spin"></i>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" onclick="fnRadioName(event);"
                        id="radio3">
                    <label class="form-check-label" for="radio3" id="label3">
                        <i class="fa fa-spinner fa-spin"></i>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" onclick="fnRadioName(event);"
                        id="radio4">
                    <label class="form-check-label" for="radio4" id="label4">
                        <i class="fa fa-spinner fa-spin"></i>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" onclick="fnRadioName(event);"
                        id="radio5">
                    <label class="form-check-label" for="radio5" id="label5">
                        <i class="fa fa-spinner fa-spin"></i>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" onclick="fnRadioName(event);"
                        id="radio6">
                    <label class="form-check-label" for="radio6" id="label6">
                        <i class="fa fa-spinner fa-spin"></i>
                    </label>
                </div>
            </div>
            <div class="blind">
                <div class="question">
                    <img src="{% static 'img/smile.png' %}" />
                    <div style="display:flex;flex-direction:column;">
                        <p>"그림을 저장하고 싶으신가요? 아래 버튼을 눌러주세요!"</p>
                    </div>
                </div>
                <button id="saveButton" type="submit" onclick="return saveImage();" class="saveButton">저장하기</button>
            </div>
            <div class="blind">
                <div class="question">
                    <img src="{% static 'img/smile.png' %}" />
                    <div style="display:flex;flex-direction:column;">
                        <p style="margin-bottom:10px">"선택한 키워드로 작사에 필요한 첫 음절을 추천합니다"</p>
                        <p>"버튼을 눌러주세요"</p>
                    </div>
                </div>  
                <a><button type="submit" onclick="return handOverWord();" class="recommend" id="recommend" disabled="disabled">
                    첫 음절 추천 받기</button></a>
            </div>
        </div>
    </div>

    <div style="display:hidden; height:50px"></div>

    <script>
        //버튼 활성화 vs 비활성화
        $("#saveButton").click(function(){
            console.log("확인");
            let recommend = document.getElementById("recommend");
            recommend.disabled = false;

            let saveButton = document.getElementById("saveButton");
            saveButton.disabled = true;

            $("#saveButton").css("background-color", "#80D4D6");
            $("#recommend").css("background-color", "#F69165");

            $("#saveButton").hover(function(){
                $(this).css("background-color", "#6DB2B4");
              }, function(){
                $(this).css("background-color", "#80D4D6");
              })
        
              $("#recommend").hover(function(){
                $(this).css("background-color", "#E26D3A");
              }, function(){
                $(this).css("background-color", "#F691s65");
              })
        })
            

    </script>
</div>


{% endblock content %}