{% extends 'base_t.html' %}
{% load static %}

{% block head %}
<link rel='stylesheet' href="{% static 'css/home_t.css' %}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock head %}


{% block content %}
<div id="content">
    <div id="useralert">
        <p>저희 사이트는 웹 환경에 <br>
            최적화 되어 있습니다.</p>
    </div>
    <div id="home">
        <div class="homeContent">
            <img src="{% static 'img/headlogo.png' %}" />
            <p id="logoContent">내가 그린 그림으로 만들어지는 나만의 특별한 동요🎶</p>
            <div>
                <p class="homeButton"><a href="{% url 'main_page:drawing' %}"><button id="making">나만의 동요 만들기 바로가기
                            →</button></a></p>
                <p class="homeButton"><a href="{% url 'main_page:meta' %}"><button id="showing">메타버스 세계에서 다른 작품 구경하기 →</button></a></p>
            </div>
        </div>
    </div>
    <div id="services">
        <p class="contentTitle">Introduce our service</p>
        <div id="service-content">
            <img src="{% static 'img/step1.png' %}" />
            <img src="{% static 'img/step2.png' %}" style="margin: 0px 34px" />
            <img src="{% static 'img/step3.png' %}" />
        </div>
    </div>
    {% comment %} <div id="boundary"></div> {% endcomment %}
    <div id="technicque">
        <div id="technicqueContent">
            <p>The technologies used in this project</p>
            <img id="serviceimg" src="{% static 'img/service.png' %}" />
        </div>
    </div>
    <div id="team">
        <p class="contentTitle">We are Team '메타포'</p>
        <p class="tistory"><a href="https://meta4.tistory.com/" target="_blank">We are Team 'Meta4'</a></p>

        <div id="team_profile">
            <div class="profile">
                <div class="profile-img" id="taeyoung">
                    <p>Taeyoung</p>
                    <a href="https://github.com/teon98"><i style="padding-left: 10px;" class="fa fa-github" aria-hidden="true"></i></a>
                    <a href="https://www.instagram.com/b_teonharu_d"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <i class="fa fa-home" aria-hidden="true"></i>
                </div>
            </div>
            <div class="profile">
                <div class="profile-img" id="HyoJeong">
                    <p>HyoJeong</p>
                    <a href="https://github.com/HyoJeong-Shin"><i style="padding-left: 10px;" class="fa fa-github" aria-hidden="true"></i></a>
                    <a href="https://www.instagram.com/hyojeong_sss/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <i class="fa fa-home" aria-hidden="true"></i>
                </div>
            </div>
            <div class="profile">
                <div class="profile-img" id="Jeein">
                    <p>Jeein</p>
                    <i style="padding-left: 10px;" class="fa fa-github" aria-hidden="true"></i>
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                    <i class="fa fa-home" aria-hidden="true"></i>
                </div>
            </div>
            <div class="profile">
                <div class="profile-img" id="Jimin">
                    <p>Jimin</p>
                    <a href= "https://github.com/hiroong49"><i style="padding-left: 10px;" class="fa fa-github" aria-hidden="true"></i></a>
                    <a href="https://www.instagram.com/_ji_meaning/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <i class="fa fa-home" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}