{% load static %}
{% block head %}
<meta http-equiv="Content-Type" content="application/javascript; charset=utf-8" />
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<!-- midi player -->
<script src="https://cdn.jsdelivr.net/combine/npm/tone@14.7.58,npm/@magenta/music@1.23.1/es6/core.js,npm/focus-visible@5,npm/html-midi-player@1.4.0"></script>
{% endblock head %}

{% block content %}

<canvas id="three-canvas"></canvas>
<div class="popup_layer" id="popup_layer" style="display: none;">
    <div class="popup_box">
        <div style="height: 10px; width: 375px; float: top;">
            <a id="btnPopClose">
                <img src="{% static 'img/ic_close_36px.svg' %}" class="btnPopclose" width="30px" height="30px">
            </a>
        </div>
        <!--팝업 컨텐츠 영역-->
        <div class="popup_cont">
                <h2 id="userid"></h2>
                

                <p id="lyrics" style="display:none">{{lyric}}</p>
                <p id="midi" style="display: none;">{{compose}}</p>

                <div id="lyric_box"><textarea id="lyrics2"></textarea></div>

                <div class="controls" id="midi-control">
                    <section id="section1">
                        <midi-player id="midiplayer"
                            src="{% static midi%}"
                            sound-font visualizer="#section1 midi-visualizer">
                        </midi-player>
                    </section>
                </div>
                <!--<textarea placeholder="작사 내용이 출력됩니다." style="height:100px; width:500px;">{{lyric}}</textarea><br>
                <textarea placeholder="작사 내용이 출력됩니다." style="height:100px; width:500px;" >{{compose}}</textarea>-->
        </div>
    </div>
</div>
<script>
//     let content = document.getElementById('lyrics2');
//     console.log(content);
//     console.log(content.value);
//     let whiteSpace = content.innerHTML;
//     console.log(whiteSpace);

//     let TempSpace = whiteSpace.replaceAll(/(?:\\r\\n|\\r|\\n|\\)/g , "&#10;");
//     TempSpace = TempSpace.replaceAll('<unk>', "&nbsp;");

//     console.log(TempSpace);
//     content.innerHTML =  TempSpace;
// </script>
<script>

        let lyr = document.getElementById('lyrics').innerHTML;

        let temp1 = lyr.replace("[" , '');
        temp1 = temp1.replace("]", '');
        temp1 = temp1.replaceAll("\'", '');
        temp1 = temp1.replace(/ /g, '');

        let templ1 = temp1.split(',');
        

        // var lyr = document.getElementById('lyrics').innerHTML;

        // let temp1 = lyr.replace("[" , '');
        // temp1 = temp1.replace("]", '');
        // temp1 = temp1.replaceAll("\'", '');
        // temp1 = temp1.replace(/ /g, '');

        // var templ1 = temp1.split(',');



        //document.getElementById("lyrics2").innerHTML = templ1[Math.floor(Math.random() * templ1.length)];
        

        //console.log(templ1);


        var midi = document.getElementById('midi').innerHTML;
        
        let temp2 = midi.replace("[" , '');
        temp2 = temp2.replace("]", '');
        temp2 = temp2.replaceAll("\'", '');
        temp2 = temp2.replace(/ /g, '');

        var templ2 = temp2.split(',');

        console.log(templ2[0]);
        

        var html = `<midi-player src="/static/${templ2[Math.floor(Math.random() * templ2.length)]}" sound-font visualizer="#section1 midi-visualizer"></midi-player>`;
        
        //document.getElementById("hello").src = '/static/'+templ2[Math.floor(Math.random() * templ2.length)];

        //console.log(templ2[Math.floor(Math.random() * templ2.length)]);
        // let temp1 = lyr.replace("[" , '');
        // temp1 = temp1.replace("]", '');
        // temp1 = temp1.replaceAll("\'", '');
        // temp1 = temp1.replace(/ /g, '');

        // var templ1 = temp1.split(',');

        //id
        var useridSrc = "{{userid | safe}}";
        console.log(useridSrc)

        let temp3 = useridSrc.replace("[" , '');
        temp3 = temp3.replace("]", '');
        temp3 = temp3.replaceAll("\'", '');
        temp3 = temp3.replace(/ /g, '');

        var templ3 = temp3.split(',');


        //document.getElementById("lyrics2").innerHTML = templ1[Math.floor(Math.random() * templ1.length)];


        var drawingSrc = "{{image | safe}}";
        
        let temp = drawingSrc.replace("[" , '');
        temp = temp.replace("]", '');
        temp = temp.replaceAll("\'", '');
        temp = temp.replace(/ /g, '');
        console.log(temp)

        var templ = temp.split(',');
        
        console.log("templ" + templ);
        //let imageurl = "{%get_static_prefix%} `${templ[0]}`";// + `${templ[0]}`;
        let imageurl=[];
        for(let i =0; i<templ.length; i++){
            imageurl.push('/static/' + templ[i]);
        }
        
        console.log(imageurl)

        // /static/resultImg/image3249.png
        
</script>
<script type="importmap">
    {
        "imports" : {
            "three" : "https://unpkg.com/three@0.141.0/build/three.module.js",
            "GLTFLoader" : "https://unpkg.com/three@0.141.0/examples/jsm/loaders/GLTFLoader.js"
        }
    }
</script>
<script type="module" src="/static/js/gallery.js"></script>

<!-- <script type="module" src="/js/gallery.js" defer></script> -->
{% endblock content %}