{% load static %}
<!DOCTYPE html>
<html lang="kr">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meta4Music</title>
  {% block head %}
  {% endblock head %}
  <link rel='stylesheet' href="{% static 'css/footer_t.css' %}" />
  <link rel='stylesheet' href="{% static 'css/navbar_t.css' %}" />
  <link rel='stylesheet' href="{% static 'css/reset.css' %}" />
</head>

<body onload="window.scrollTo(0, 0);">
  <!-- navbar -->
  <div class="nav">
    <a class="nav-logo" href="{% url 'main_page:home' %}">Meta4Music</a>
    <ul class="nav-ul">
      <li class="nav-item"><span class="spread-underline"><a class="item-a" href="#home">Home</a></span></li>
      <li class="nav-item"><span class="spread-underline"><a class="item-a" href="#services">Services</a></span></li>
      <li class="nav-item"><span class="spread-underline"><a class="item-a" href="#technicque">Technicque</a></span></li>
      <li class="nav-item"><span class="spread-underline"><a class="item-a" href="#team">Team</a></span></li>
    </ul>
    <a class="nav-login" href="{% url 'account:signin' %}">
      <div class="button">
        <p class="btnText">Sign In</p>
        <div class="btnTwo">
          <p class="btnText2">Go!</p>
        </div>
      </div>
    </a>
  </div>

  <!-- content -->
  {% block content %}
  {% endblock content %}

  <!-- footer -->
  <div class="footer">
    <div class="footHead">
      <p>2022 덕성여자대학교 컴퓨터공학과 졸업프로젝트</p>
    </div>
    <div class="footcontent">
      <div><p class="title">주제</p><p class="content">딥러닝을 이용한 동요 작사·작곡 프로그램</p></div>
      <div><p class="title">팀</p><p class="content">강태영, 신효정, 박지인, 김지민</p></div>
    </div>
  </div>

  <script src="/static/js/navbar.js"></script>
</body>
</html>