{% load static %}
<!DOCTYPE html>
<html lang="kr">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meta4Music</title>
  {% block head %}
  {% endblock head %}
  <link rel='stylesheet' href="{% static 'css/footer_content.css' %}" />
  <link rel='stylesheet' href="{% static 'css/navbar_content.css' %}" />
  <link rel='stylesheet' href="{% static 'css/reset.css' %}" />
</head>

<body onload="window.scrollTo(0, 0);">
  <!-- navbar -->
  <div class="nav">
    <a class="nav-logo" href="{% url 'main_page:main' %}">Meta4Music</a>
    {% if id %}
      <li class="nav-login welcome">
        <div class="dropdown">
          <img id="dropbtn" src="{% static 'img/profile_icon.png' %}" />
          <div class="dropdown-content">
            <a href="#">{{id}}님</a>
            <a onclick="location.href='/account/logout'">로그아웃</a>
          </div>
        </div>
      </li>
    {% endif %}
  </div>

  <!-- content -->
  <div class="content">
    {% block content %}
    {% endblock content %}
  </div>

  <!-- footer -->
  <div class="footer">
    <div class="footHead">
      <p>2022 덕성여자대학교 컴퓨터공학과 졸업프로젝트</p>
    </div>
    <div class="footcontent">
      <div><p class="title">주제</p><p class="content">딥러닝을 이용한 동요 작사·작곡 프로그램</p></div>
      <div><p class="title">팀</p><p class="content">강태영, 신효정, 박지인, 김지민</p></div>
    </div>
  </div>

  <script src="/static/js/navbar.js"></script>
</body>
</html>